.grid {
	max-width: 1440px;
	width: 100%;
	// margin-left: 0;
	// margin-right: 0;

	margin-top: 80px;

	@include from(l) {
		margin-top: 112px;
	}
	
	&__card {
		background-color: var(--color-hover);
		border-width: 3px;
		border-image-slice: 1;
		border: 1px solid var(--color-first-opacy);
		border-radius: 0.5rem;
		box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.34);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;	
		margin-bottom: 64px;
		padding: 1rem;
		height: 100px;
		
		
		@include from(l) {
			margin-bottom: 72px;
			height: 200px;
			
			.grid__img{
				transition: 0.5s;
			}
			&:hover  {
				.grid__img {
					transform: perspective(900px) scale(1) translate(0px,-20px);
					transform-origin: center center;
				}

				.grid__p {
					color: var(--color-first);
				}
			}
		}
	}

	// &__anchore {
	// 	text-decoration: none;
	// }

	&__img {
		width: 100px;
		margin-top: -40px;

		@include from(l) {
			width: 100%;

			// &:hover {
			// 	transform: perspective(900px) scale(1) translate(0px,-20px);
			// 	transform-origin: center center;
			// }
		}
	}

	&__p {
		color: var(--color-body);
		font-weight: 600;
	}
}
