.signUp {
    align-items: center;
	background-color: var(--color-background);
	width: 90%;
	border-radius: 8px;
	padding: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;

    @include from(l) {
        width: 40%;
    }


    img {
        margin: auto;
        width:56px;
        margin-bottom: 24px;
    }

	&__h3 {
		color: var(--color-body);
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	// &__form--container {
	// 	width: calc(100% - 2rem);
	// 	margin-right: 0;
	// }

	&__form--label {
		color: var(--color-body);
		font-size: var(--small-font-size);
		text-transform: capitalize;
	}
	
	&__form--input {
		margin-bottom: 1rem;
		border: 1px solid var(--color-border);
		border-radius: 8px;
		padding: 16px;
		background-color: var(--color-hover);
		width: 100%;
		color: var(--color-body);

		&::placeholder {
			color: var(--color-border);
		}

	}

	&__form--button {
		width: 100%;
		padding: 12px;

	}

	&__form--signup {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		padding: 16px 0;
		text-align: center;
		width: 100%;
		font-weight: bold;

		p {
			color: var(--color-body);
			margin-bottom: 0;
		}

		a {
			color: var(--color-first-opacy);

			&:hover {
				color: var(--color-first);
			}
		}

	}

	&__form--anchor {
		color: var(--color-first-opacy);
		text-align: center;
	}

	&__form--select {
		// appearance: none;
		// -webkit-appearance: none;
		// -moz-appearance: none;

		background-color: var(--color-hover);
		border-radius: 0.5rem;
		color: var(--color-body);
		padding: 1rem;
		margin-bottom: 1rem;
		transition: all 0.25s ease;

		// &::-ms-expand {
		// 	padding-right: 3rem;
		// }

	}
}
