.tns-single{
	/*
	& > img:nth-child(odd){
		background        : red;
	}
	& > img:nth-child(even){
		background        :green;
	}
	*/
	&__content{
		min-height: 50vh;
		display           : flex;
		justify-content   : center;
		flex-direction    : column;
		align-items       : center;
		/*span{color        : white;}*/
	}
}
