div(class="overlay")
div(class="ed-container modal__container close")
	div(class="modal")
		h3(class="modal__h3") Inicia sesión
		form(action="" class="modal__form") 
			label(for="email" class="modal__form--label") correo electrónico
				input(type="email" name="email" class="modal__form--input" placeholder="Ingresa tu correo")
			label(for="password" class="modal__form--label") Contraseña 
				input(type="password" name="password" class="modal__form--input" placeholder="Ingresa tu contraseña")
			button(type="submit" class="modal__form--button btn btn__primary") Iniciar sesión
			div(class="modal__form--signup") 
				p ¿No tienes cuenta? 
					a(href="../signUp.html")  Regístrate
			a(hrefs="./" class="modal__form--anchor")  ¿Olvidaste la Contraseña?
