div(class="ed-container")
	div(class="signUp")
		h3(class="sign__h3") Inicia sesión
		form(action="" class="sign__form") 
			label(for="text" class="sign__form--label") correo electrónico
				input(type="email" name="email" class="sign__form--input" placeholder="Ingresa tu correo")
			
			label(for="text" class="sign__form--label") correo electrónico
				input(type="email" name="email" class="sign__form--input" placeholder="Ingresa tu correo")
			
			label(for="email" class="sign__form--label") correo electrónico
				input(type="email" name="email" class="sign__form--input" placeholder="Ingresa tu correo")
			
			label(for="password" class="sign__form--label") Contraseña 
				input(type="password" name="password" class="sign__form--input" placeholder="Ingresa tu contraseña")
			
			label(for="password" class="sign__form--label") Confirmar Contraseña 
				input(type="password" name="password" class="sign__form--input" placeholder="Ingresa tu contraseña")
			
			div(class="sign__form--terms") 
				p ¿No tienes cuenta? 
					a(href="./")  Regístrate
			a(href="./" class="sign__form--anchor")  Leer las reglas
			
			button(type="submit" class="sign__form--button btn btn__primary") Resgistrarme
