mixin card(image, alt) 
	div
		div(class='tns-single__content'): img(src=image alt=alt class='tns-single__img' )

div(class='container')
	div(class='container__slider')
		div(class='tns-single' id='tnsSingle')
			-for(var i = 0; i < slider.length ; i++)
				-var slide  = slider[i]
				+card(slide.image, slide.alt)


//- div(class='tns-single' id='tnsSingle')
		div: div(class='tns-single__content'): span tns Single 1
		div: div(class='tns-single__content'): span tns Single 2
		div: div(class='tns-single__content'): span tns Single 3
//--
