//layout
:root {
  --header-height 		: 5rem;
  @include from(l) {
    --header-height 	: 6rem;
  }
	//native color vars
	--color-background      	: #242440;
	--color-border      	: #7F7C7C;
	--color-first     	: #edd41b;
	--color-first-opacy     	: #c4b441;
	--color-second      	: #aa7b32 ;
	--color-body      	: #FFF;
	--color-hover      	: #303052;
	--color-background-dark      	: #1D1D39;
}
// Sass Color Vars
$color-first 			: var(--color-first			);


*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}
